spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    properties:
      hibernate:
        format_sql:true
    show-sql: true
    hibernate:
      ddl-auto: update
chrono:
  point-per-hour: 1000